.vs/
Binaries/*
Build/*
Intermediate/*
Saved/*
Content/StarterContent/*
DerivedDataCache/*
HarvestMoon.sln
HarvestMoon.uproject
CMakeLists.txt
HarvestMoon.code-workspace
HarvestMoon.kdev4
HarvestMoon.pro
HarvestMoon.workspace
HarvestMoonCodeCompletionFolders.txt
HarvestMoonCodeLitePreProcessor.txt
HarvestMoonConfig.pri
HarvestMoonDefines.pri
HarvestMoonHeader.pri
HarvestMoonIncludes.pri
HarvestMoonSource.pri
Makefile
.idea/misc.xml
.kdev4/Defines.txt
.kdev4/HarvestMoon.kdev4
.kdev4/Includes.txt
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.idea/
.kdev4/
.vscode/

